{% extends "base.html" %}
<!-- Title Block -->
{% block title %}Home{% endblock %}
<!-- CSS Files Block -->

<!-- body -->
{% block content %}
<header id="main-navigation">
    <h1>Vinald</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">All Posts</a></li>
        </ul>
    </nav>
</header>
<section id="welcome">
    <header>
        <img src="#" alt="Vinald - The Blog Author" />
        <h2>VINALD'S BLOG</h2>
    </header>
    <p>
        Welcome to my blog! Here, I share my thoughts, experiences, and insights on various topics
        that interest me. Feel free to explore the posts and leave your comments!
    </p>
</section>
<section id="latest-posts">
    <h2>Latest Posts</h2>
    <ul>
        <li>
            <article class="post">
                <a href="#"
                    >
                    <img src="#" alt="#"/>
                    <p class="post-meta">Posted on July 20, 2024 by Vinald</p>
                    <p>
                        Django templates are a powerful way to separate the presentation layer from
                        the business logic...
                    </p>
                </a>
            </article>
        </li>
    </ul>
</section>
{% endblock %}
